<div class="allgemein">
  <div class="container">
    {{#posts}}
      <div class="box">
        <div class="titel-like">
          <h1>{{titel}}</h1>
          <form
            action="/like/{{id}}"
            enctype="multipart/form-data"
            method="POST"
          >
            <input class="like" type="submit" value="liken" />
          </form>
        </div>
        <p class="inhalt">{{inhalt}}</p>
        <p>{{datum}}</p>
        <p>{{email}}</p>
        <p><img src="/uploads/{{bild}}" /></p>

        <div class="kommentare">
          {{#kommentare}}
            <p>{{inhalt}}</p>
            <p>{{datum}}</p>
            <p>{{email}}</p>
          {{/kommentare}}
        </div>

        <form action="/kommentare/{{id}}" method="POST">
          <input type="text" name="inhalt" />
          <input class="kommentare" type="submit" value="kommentieren" />
        </form>
      </div>
    {{/posts}}
  </div>
</div>

{{#likes}}
  <p>{{user_id}}</p>
  <p>{{post_id}}</p>
{{/likes}}

<form action="/houzchopf" enctype="multipart/form-data" method="post">
  <input type="text" name="titel" />
  <input type="text" name="inhalt" />
  <input type="date" name="datum" />
  <input type="file" name="bild" />
  <input type="submit" />
</form>;

<form action="/voupfoschte" method="post">
  <input type="text" name="inhalt" />
  <input type="date" name="datum" />
  <input type="submit" />
</form>;