<div class="allgemein">
  <div class="container">
    {{#posts}}
      <div class="box">
        <h1>{{titel}}</h1>
        <p class="inhalt">{{inhalt}}</p>
        <p>{{datum}}</p>
        <p>{{email}}</p>
        <p><img src="/uploads/{{bild}}" /></p>
      </div>
    {{/posts}}
  </div>
</div>

{{#likes}}
  <p>{{user_id}}</p>
  <p>{{post_id}}</p>
{{/likes}}

{{#kommentare}}
  <p>{{inhalt}}</p>
  <p>{{datum}}</p>
  <p>{{email}}</p>
{{/kommentare}}

<form action="/houzchopf" enctype="multipart/form-data" method="post">
  <input type="text" name="titel" />
  <input type="text" name="inhalt" />
  <input type="date" name="datum" />
  <input type="file" name="bild" />
  <input type="submit" />
</form>;

<form action="/voupfoschte" method="post">
  <input type="text" name="inhalt" />
  <input type="date" name="datum" />
  <input type="submit" />
</form>;